/*==========  Mobile First Method  ==========*/
.Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 0.5px solid lightgray;

  &__Bar {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 2.5vw;
    width: 100%;
    position: sticky;
    background: white;
    top: 0;
    // border-bottom: 0.5px solid lightgray;
    border-radius: 3px;
  }

  &__Logo {
    font-size: 32px;
    width: 100px;
    text-decoration: none;
    color: black;
  }

  &__Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    &-Div {
      background: white;
      position: relative;
      height: fit-content;
      width: fit-content;
    }

    &-Categories {
      &-Link {
        padding: 2vh 1vw;
        background: white;
        height: 45px;
        font-size: 14px;
        transform: 1s ease-in all;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.05s ease-in all;

        &:hover {
          background: #2f2e33;
          color: white;
          cursor: pointer;
          transform: scale(1.15);
          border-radius: 3px;
        }
      }
      &--show {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: -65.5px;
        padding: 2vh 0 0vh 0;
        width: 175px;
      }
    }
    @media only screen and (max-width: $width-s) {
      display: none;
    }
  }
  &__Hero {
    min-height: calc(100vh - 120px);
    max-height: calc(100vw - 80px);
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    background-image: url("../assets/aesthetic.jpeg");
    color: white;

    @media only screen and (max-width: $width-s) {
      background-position: left top;
      padding: 20vh 0;
    }

    &--text {
      height: 100%;
      width: 80%;
      margin: 30vh 10vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      // justify-content: flex-end;

      & > h2 {
        font-size: 50px;
      }
      & > p {
        margin: 5vh 0;
        width: 400px;
        text-align: right;
      }
      & button {
        padding: 1vh 2vw;
        border-radius: 4px;
      }

      @media only screen and (max-width: $width-s) {
        align-items: center;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        height: 60%;

        & > p {
          text-align: center;
          font-size: 16px;
          width: 350px;
          margin: 7vh;
        }
      }
    }
  }
}

// /* Extra Small Devices, Phones */
// @media only screen and (min-width: $width-xs) {
// }

// /* Small Devices, Tablets */
// @media only screen and (min-width: $width-s) {
// }

// /* Medium Devices, Desktops */
// @media only screen and (min-width: $width-m) {
// }

// /* Large Devices, Wide Screens */
// @media only screen and (min-width: $width-l) {
// }
